<div class="p-2 h-100 w-100 bg-black d-flex overflow-hidden">
  <div class="w-100 h-100">
    <div class="row h-50">
      <div class="col-md-6">
        <iframe
          class="d-flex flex-auto w-100 h-100"
          id="event1"
          src="https://docs.google.com/presentation/d/e/2PACX-1vRMlQIuqrp6CWPVB6SyeafWv372jY3wRjzyFiJSTsPzkLehSx_edMc09vQb_rlALLMgr2T0_GL9UA5l/embed?start=true&loop=true&delayms=20000&amp;rm=minimal"
          frameborder="0"
          allowfullscreen="true"
          mozallowfullscreen="true"
          webkitallowfullscreen="true"
        ></iframe>
      </div>
      <div class="col-md-6">
        <iframe
          class="d-flex flex-auto w-100 h-100"
          id="event2"
          src="https://docs.google.com/presentation/d/e/2PACX-1vQ0LLDcbYmfi9CLd27XGddbcdc5j-P4enO40t2Msnr3iJ8c636iCuRtathRIgZ5fapPUIcbfiJ8Lg49/embed?start=true&loop=true&delayms=20000&amp;rm=minimal"
          frameborder="0"
          allowfullscreen="true"
          mozallowfullscreen="true"
          webkitallowfullscreen="true"
        ></iframe>
      </div>
    </div>
    <div class="row h-50">
      <div class="col-md-6">
        <iframe
          class="d-flex flex-auto w-100 h-100"
          id="event3"
          src="https://docs.google.com/presentation/d/e/2PACX-1vQ65Yqd4Vna3H5S7YCfEGy8IAcBz8b1tWnsMUFvVNXc7QFNSrNeyX4WVr3Jjul6yx-CE1pUUamnb-Ci/embed?start=true&loop=true&delayms=20000&amp;rm=minimal"
          frameborder="0"
          allowfullscreen="true"
          mozallowfullscreen="true"
          webkitallowfullscreen="true"
        ></iframe>
      </div>
      <div class="col-md-6">
        <iframe
          class="d-flex flex-auto w-100 h-100"
          id="event4"
          src="https://docs.google.com/presentation/d/e/2PACX-1vR32shWCAIN1V4oy3ITsm_DOvzeBii8tUi5aSSNUIlUzn17AvFmljKbLY0zesiKRUp8nvnfYcFRG6xC/embed?start=true&loop=true&delayms=10000&amp;rm=minimal"
          frameborder="0"
          allowfullscreen="true"
          mozallowfullscreen="true"
          webkitallowfullscreen="true"
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
