<div class="p-2 h-100 w-100 bg-black d-flex overflow-hidden">
  <div class="flex-column d-flex w-100 h-100">
    <iframe class="d-flex flex-auto w-100 h-100"
            id="event1"
            src="https://docs.google.com/presentation/d/e/2PACX-1vRMlQIuqrp6CWPVB6SyeafWv372jY3wRjzyFiJSTsPzkLehSx_edMc09vQb_rlALLMgr2T0_GL9UA5l/embed?start=true&loop=true&delayms=20000&amp;rm=minimal"
            frameborder="0"
            allowfullscreen="true"
            mozallowfullscreen="true"
            webkitallowfullscreen="true"></iframe>
    <iframe class="d-flex flex-auto w-100 h-100"
            id="event2"
            src="https://docs.google.com/presentation/d/e/2PACX-1vQ0LLDcbYmfi9CLd27XGddbcdc5j-P4enO40t2Msnr3iJ8c636iCuRtathRIgZ5fapPUIcbfiJ8Lg49/embed?start=true&loop=true&delayms=20000&amp;rm=minimal"
            frameborder="0"
            allowfullscreen="true"
            mozallowfullscreen="true"
            webkitallowfullscreen="true"></iframe>
  </div>
</div>