<div
  class="p-2 h-100 w-100 bg-black d-flex"
  style="z-index: 100; top: 0px; position: absolute"
>
  <div class="container w-100 h-100">
    <div class="row h-50">
      <div class="col-md-6">
        <iframe
          class="d-flex flex-auto w-100 h-100"
          src="https://docs.google.com/presentation/d/e/2PACX-1vQ0YdrtLXtrwcSff7uNMJa7q5bogh1rprBKZWz5aeQjICGvlnvROYzE8CZYflSDvejOQnPKaLEz7WRi/embed?start=true&loop=true&delayms=5000&amp;rm=minimal"
          frameborder="0"
          allowfullscreen="true"
          mozallowfullscreen="true"
          webkitallowfullscreen="true"
        ></iframe>
      </div>
      <div class="col-md-6">
        <iframe
          class="d-flex flex-auto w-100 h-100"
          src="https://docs.google.com/presentation/d/e/2PACX-1vQId7TjgZsLDigo484VG2mtcSTsHBcNf58pMS4fIOewrQoelEfMMWRrXlHpKtndzh9YAAAYmd0mM7eu/embed?start=true&loop=true&delayms=4000&amp;rm=minimal"
          frameborder="0"
          allowfullscreen="true"
          mozallowfullscreen="true"
          webkitallowfullscreen="true"
        ></iframe>
      </div>
    </div>
    <div class="row h-50">
      <div class="col-md-6">
        <iframe
          class="d-flex flex-auto w-100 h-100"
          src="https://docs.google.com/presentation/d/e/2PACX-1vRvFH_X6Ywj74UkxEdBMHC1_M_V-NmOahdDOtr0m9a0ZvAa_Nw0guk15RmiWIHLA2kwJUYU8iK291Pq/embed?start=true&loop=true&delayms=3000&amp;rm=minimal"
          frameborder="0"
          allowfullscreen="true"
          mozallowfullscreen="true"
          webkitallowfullscreen="true"
        ></iframe>
      </div>
      <div class="col-md-6">
        <iframe
          class="d-flex flex-auto w-100 h-100"
          src="https://docs.google.com/presentation/d/e/2PACX-1vT-AUyDW3_rPlu14bnLpMvn_zsyjP0bwQbByW_1ZWETXTun-1IiClNuaHscuQ9KQBLwY6-7jAlChx8x/embed?start=true&loop=true&delayms=3500&amp;rm=minimal"
          frameborder="0"
          allowfullscreen="true"
          mozallowfullscreen="true"
          webkitallowfullscreen="true"
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
