<div
  class="p-2 h-100 w-100 bg-black d-flex flex-column"
  style="z-index: 100; top: 0px; position: absolute"
>
  <a class="flex-row text-nowrap" href="/#/events">
    Club events example here
  </a>
  <ng-container *ngIf="counter === 0">
    <iframe
      class="d-flex flex-auto w-100 h-100"
      alt=""
      allowfullscreen="true"
      border="0"
      bordercolor="#000000"
      frameborder="0"
      hspace="0"
      id="_com_liferay_iframe_web_portlet_IFramePortlet_INSTANCE_SRjSFoQ3bsSV_iframe"
      longdesc=""
      name="_com_liferay_iframe_web_portlet_IFramePortlet_INSTANCE_SRjSFoQ3bsSV_iframe"
      scrolling="auto"
      src="https://forecast.weather.gov/MapClick.php?lat=41.88544500000006&lon=-87.62229499999995#.YYgE9WDMJ1M"
      title=""
      vspace="0"
      width="100%"
    >
      Your browser does not support inline frames or is currently configured not
      to display inline frames. Content can be viewed at actual source page:
      https://www.weather.gov/organization/.
    </iframe>
  </ng-container>
  <ng-container *ngIf="counter === 1">
    <iframe
      class="d-flex flex-auto w-100 h-100"
      alt=""
      allowfullscreen="true"
      border="0"
      bordercolor="#000000"
      frameborder="0"
      height="1000"
      hspace="0"
      id="_com_liferay_iframe_web_portlet_IFramePortlet_INSTANCE_SRjSFoQ3bsSV_iframe"
      longdesc=""
      name="_com_liferay_iframe_web_portlet_IFramePortlet_INSTANCE_SRjSFoQ3bsSV_iframe"
      scrolling="auto"
      src="https://iiseagrant.org/45198/"
      title=""
      vspace="0"
      width="100%"
      style="height: 1000px"
    >
      Your browser does not support inline frames or is currently configured not
      to display inline frames. Content can be viewed at actual source page:
      https://www.weather.gov/organization/.
    </iframe>
  </ng-container>
  <ng-container *ngIf="counter === 2">
    <iframe
      class="d-flex flex-auto w-100 h-100"
      alt=""
      allowfullscreen="true"
      border="0"
      bordercolor="#000000"
      frameborder="0"
      height="1000"
      hspace="0"
      id="_com_liferay_iframe_web_portlet_IFramePortlet_INSTANCE_SRjSFoQ3bsSV_iframe"
      longdesc=""
      name="_com_liferay_iframe_web_portlet_IFramePortlet_INSTANCE_SRjSFoQ3bsSV_iframe"
      scrolling="none"
      src="https://radar.weather.gov/?settings=v1_eyJhZ2VuZGEiOnsiaWQiOiJ3ZWF0aGVyIiwiY2VudGVyIjpbLTg3LjU2OSw0MS44MzZdLCJ6b29tIjo5LCJsb2NhdGlvbiI6Wy04Ny42MTUsNDEuODg1XX0sImFuaW1hdGluZyI6ZmFsc2UsImJhc2UiOiJzdGFuZGFyZCIsImFydGNjIjpmYWxzZSwiY291bnR5IjpmYWxzZSwiY3dhIjpmYWxzZSwicmZjIjpmYWxzZSwic3RhdGUiOmZhbHNlLCJtZW51Ijp0cnVlLCJzaG9ydEZ1c2VkT25seSI6ZmFsc2UsIm9wYWNpdHkiOnsiYWxlcnRzIjowLjYsImxvY2FsIjowLjYsImxvY2FsU3RhdGlvbnMiOjAuOCwibmF0aW9uYWwiOjAuNn19#/"
      title=""
      vspace="0"
      width="100%"
      style="height: 1000px"
    >
      Your browser does not support inline frames or is currently configured not
      to display inline frames. Content can be viewed at actual source page:
      https://www.weather.gov/organization/.
    </iframe>
  </ng-container>
  <ng-container *ngIf="counter === 3">
    <iframe
      class="d-flex flex-auto w-100 h-100"
      alt=""
      allowfullscreen="true"
      border="0"
      bordercolor="#000000"
      frameborder="0"
      height="1000"
      hspace="0"
      id="_com_liferay_iframe_web_portlet_IFramePortlet_INSTANCE_SRjSFoQ3bsSV_iframe"
      longdesc=""
      name="_com_liferay_iframe_web_portlet_IFramePortlet_INSTANCE_SRjSFoQ3bsSV_iframe"
      scrolling="none"
      src="https://marine.weather.gov/MapClick.php?w0=t&w1=td&w2=wc&w3=sfcwind&w4=sky&w5=pop&w6=rh&w7=rain&w8=thunder&w14=wvhd&pqpfhr=6&psnwhr=6&AheadHour=0&Submit=Submit&&FcstType=graphical&textField1=41.9821&textField2=-87.6063&site=lot&menu=1"
      title=""
      vspace="0"
      width="100%"
      style="height: 1000px"
    >
      Your browser does not support inline frames or is currently configured not
      to display inline frames. Content can be viewed at actual source page:
      https://www.weather.gov/organization/.
    </iframe>
  </ng-container>
</div>
